__pycache__/
*.pyc
*.pyo
*.exe
*.zip
*.egg
*.egg-info/
dist/
build/
*.spec
.vscode/
.idea/
*.suo
*.user
env/
venv/
.env
*.aurelyos
*.vindex
capture_*.csv
vindex_backup_*.zip
vindex_alerts.json
vindex_profile.json
vindex_tasks.json
