__pycache__/
*.pyc
*.pyo
*.exe
*.zip
*.egg
*.egg-info/
dist/
build/
*.spec
.vscode/
.idea/
*.suo
*.user
env/
venv/
.env
*.aurelyos
*.sentry
capture_*.csv
sentry_backup_*.zip
sentry_alerts.json
sentry_profile.json
sentry_tasks.json
